<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Finding the latest information on Mars as we explore the universe.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape for New Data</a></p>
    </div>
    <h4>Latest Mars News</h4>
    <h5>{{ mars_mission.latest_title }}</h5>
    <h6>{{ mars_mission.latest_teaser }}</h6>
    <h3>Featured Mars Image</h3>
    <img src="{{ mars_mission.featured_image }}" alt="Featured Mars Image">
    <h2>{{ mars_mission.mars_info }}</h2>
    
  </div>
  </div>
</body>

</html>
