<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Finding the latest information on Mars as we explore the universe.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape for New Data</a></p>
    </div>
    <h3>Latest Mars News</h3>
    <h4>{{ mars_mission.news_title }}</h4>
    <h5>{{ mars_mission.new_teaser }}</h5>
    <div class ="container">
      <div class="row">  
        <div class ="col-md-7">
          <h3>Featured Mars Image</h3>
          <img src="{{ mars_mission.featured_image }}" alt="Featured Mars Image" align="left" height = 625px>
          </div>
          <div>
            <div class ="col-md-5"> 
          <h3>Mars Facts</h3>
          <h2>{{ mars_mission.mars_facts | safe }}</h2>
          </div>
          <h3 align= "center">Mars Hemispheres</h3>
          <div class ="container">
            <div class="row">  
              <div class ="col-md-6">
                      
  </div>  
</body>

</html>
